@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FDFCF8;
  --foreground: #111111;
  --font-playfair: 'Playfair Display', serif;
  --font-inter: 'Inter', sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom Scrollbar Utility */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}